{# empty Twig template #}
<html>
    <head>
        <title>Тест шаблона</title>
    </head>
    <body>
        Это первый тест-шаблон!<br>
        {{ par1 }}<br>
        {{ par2 }}<br>
    </body>
</html>

